<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431257189250-mfjdqbj2ghqc93qvm40c093hct70n55e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431257189250-mfjdqbj2ghqc93qvm40c093hct70n55e</string>
	<key>API_KEY</key>
	<string>AIzaSyCDf6LO3Od7bFs4ehnBOZITENPw4yXTGt4</string>
	<key>GCM_SENDER_ID</key>
	<string>431257189250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.helloworld</string>
	<key>PROJECT_ID</key>
	<string>mymessenger-c0900</string>
	<key>STORAGE_BUCKET</key>
	<string>mymessenger-c0900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431257189250:ios:e12bb4e4cffdc1ef942d9b</string>
	<key>DATABASE_URL</key>
	<string>https://mymessenger-c0900-default-rtdb.firebaseio.com</string>
</dict>
</plist>